/* ============= Validation Messages ============= */

.validation__message-container * {
  color: #112D55 !important;
}

.validation__message-popUp {
  background-color: #FFFFFF !important;
  border-radius: 15px !important;
}

.validation__message-title {
  color: #112D55 !important;
}

.validation__message-content {
  color: #112D55 !important;
}

.validation__message-icon * {
  color: #3074D3 !important;
}

.validation__message-icon {
  border-color: #3074D3 !important;
}

.validation__message-btn {
  background: #3074D3 !important;
  color: #FFFFFF !important;
  border: none !important;
  padding: 16px 20px !important;
  border-radius: 26px !important;
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.validation__message-btn:hover {
  color: #FFFFFF !important;
}

.validation__message-btn::after {
  content: "";
  background: #3074D3;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}

.validation__message-btn:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}

.validation__message-btn:focus {
  border: none !important;
  overflow: none !important;
  box-shadow: none !important;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
  background-color: #3074D3 !important;
}